
.App {
  text-align: center;
}

.Home {
  text-align: center;

}

.Home-header {
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white;
  background-image: url('./photos/ee.gif');
  background-size: contain;
  font-family: 'Fredoka One', cursive;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.top-titles {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.Home-title {
  font-size: 1.8em;
}

.home-new-game {
  align-self: flex-end;
  padding: 10px;
  border-radius: 5px;
  border-color: #b4b8c2;
  background-color: transparent;
  color: white;
}

.home-new-game:hover{
  background-color: #b4b8c2;
}

.Home-intro {
  font-size: large;
}

.home-game-list li {
  color: white;
  list-style: none;
  font-family: 'Fredoka One', cursive;
  font-size: 5vw;
}

li:hover{
  color: #edbc19;
}


.new-game-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  color: white;
}
.new-game-main p {
   font-size: 2vw;
}

.new-game-theme{
  width: 50%;
}

.new-game-input {
  width: 25%;
  background-color: #25222c;
  border-left: none;
  border-top: none;
  border-right: none;
  margin: 15px;
  color: white;
}

.new-game-input:focus {
  outline: none;
}

.new-game-submit {
  padding: 10px;
  border-radius: 5px;
  border-color: #b4b8c2;
  background-color: transparent;
  color: white;
}
.new-game-submit:hover{
  background-color: #b4b8c2;
}