
.App {
  text-align: center;
}

.Home {
  text-align: center;

}

.Home-header {
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white;
  background-image: url('./photos/ee.gif');
  background-size: contain;
  font-family: 'Fredoka One', cursive;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.top-titles {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.Home-title {
  font-size: 1.8em;
}

.home-new-game {
  align-self: flex-end;
  padding: 10px;
  border-radius: 5px;
  border-color: #b4b8c2;
  background-color: transparent;
  color: white;
}

.home-new-game:hover{
  background-color: #b4b8c2;
}

.Home-intro {
  font-size: large;
}

.home-game-list li {
  color: white;
  list-style: none;
  font-family: 'Fredoka One', cursive;
  font-size: 5vw;
}

li:hover{
  color: #edbc19;
}


.new-game-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  color: white;
}
.new-game-main p {
   font-size: 2vw;
}

.new-game-theme{
  width: 50%;
}

.new-game-input {
  width: 25%;
  background-color: #25222c;
  border-left: none;
  border-top: none;
  border-right: none;
  margin: 15px;
  color: white;
}

.new-game-input:focus {
  outline: none;
}

.new-game-submit {
  padding: 10px;
  border-radius: 5px;
  border-color: #b4b8c2;
  background-color: transparent;
  color: white;
}
.new-game-submit:hover{
  background-color: #b4b8c2;
}

.game-board-main {
  color: white;
  align-self: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board-name-input {
  width: 65%;
  height: 10%;
  font-size: 5vh;
  margin-top: 10px;
  background-color: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
  margin: 15px;
  color: white;

}

.game-board-name-input:focus {
  outline:none;
}

.game-board-name-button {
  padding: 25px;
  border-radius: 5px;
  border-color: #b4b8c2;
  background-color: transparent;
  color: white;
}

.name-info-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('./photos/pur.gif');
  background-repeat: cover;
  background-size: cover;
  background-position: center;
  background-color: #a16daa;
}

.player-list-main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: 'Fredoka One', cursive;
  color: red;
  width: 95%;
  height: 100%;
  background-image: url('./photos/poopy.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 6vw;
}


.player-list-main ul {
  font-family: 'Fredoka One', cursive;
  align-self: flex-start;
  padding: 0px;
  list-style: none;

}
.player-list-main li {
  align-self: flex-start;
  color: #f14b5e;
}
.player-list-main h2 {
  color: #ffd267;
}

.loading {
  background-color: white;
  height: 100vh;
  width: 100vw;
  background-image: url('./photos/surf2.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.emoji-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Fredoka One', cursive;

}

.emoji-input {
  width: 95%;
  background-color: #25222c;
  border-left: none;
  border-top: none;
  border-right: none;
  margin: 15px;
  color: white;
}

.emoji-input:focus {
  outline:none;
}

.emoji-button {
  padding: 10px;
  border-radius: 5px;
  border-color: #b4b8c2;
  background-color: transparent;
  color: white;
}

.emoji-submit {
  background-image: url('./photos/bluee.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: #328acb;
}

.emoji-input1{
  width: 75%;
  background-color: #25222c;
  border-left: none;
  border-top: none;
  border-right: none;
  margin: 15px;
  color: white;
  background-color: transparent;
}
.emoji-input1:focus {
  outline:none;
}
.emoji-button1 {
  padding: 25px;
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
  background-color: transparent;
  color: white;
  margin: 10px;
}


.submit-winner {
  background-image: url('./photos/rede.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  background-color: #e6422f;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.emoji-buttons {
  padding: 30px;
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
  background-color: transparent;
  color: white;
  margin: 10px;
}